<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.martian.martiannews">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.GET_TASKS"/>


    <!-- 允许应用程序联网，以便向我们的服务器端发送数据。 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--判断程序是否在前台运行,必须 -->
    <!-- 检测手机基本状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 缓存资源优先存入SDcard -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/i_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:name=".base.MyApplication"
        android:theme="@style/BaseAppTheme">
        <activity
            android:name=".mvp.ui.activitys.SplashActivity"
            android:excludeFromRecents="false"
            android:theme="@style/BaseAppTheme.Trans">

            <intent-filter>
                <data android:scheme="martiannew"/>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.ui.activitys.MainActivity"
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"></activity>

        <activity
            android:name=".mvp.ui.activitys.NewsDetailActivity"
            android:theme="@style/BaseAppTheme.NoTrans"/>

        <activity
            android:name=".mvp.ui.activitys.NewsPhotoDetailActivity"
            android:theme="@style/BaseAppTheme.NoTrans">
        </activity>

        <activity
            android:name=".mvp.ui.activitys.NewsChannelActivity"
            android:theme="@style/BaseAppTheme.NoTrans">
        </activity>
        <activity
            android:name=".mvp.ui.activitys.PhotoActivity"
            android:launchMode="singleTask"
            android:theme="@style/BaseAppTheme.NoTrans">
        </activity>
        <activity
            android:name=".mvp.ui.activitys.PhotoDetailActivity"
            android:theme="@style/BaseAppTheme.Trans">
        </activity>

        <activity
            android:name=".mvp.ui.activitys.AboutActivity"
            android:theme="@style/BaseAppTheme.NoTrans">
        </activity>

        <receiver android:name="com.martian.martiannews.push.MessageReceiver"
            android:exported="true" >
            <intent-filter>
                <!-- 接收消息透传 -->
                <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />
                <!-- 监听注册、反注册、设置/删除标签、通知被点击等处理结果 -->
                <action android:name="com.tencent.android.tpush.action.FEEDBACK" />
            </intent-filter>
        </receiver>

        <!--总的activity，必须注册！！！ -->
        <activity android:name="com.zxinsight.common.base.MWActivity" android:exported="true"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"/>

        <!--MW sdk ID 此处跟activity同级，需要放在Application内，MW_APPID（也就是后台的” 魔窗AppKey”）不能更改 -->
        <meta-data android:name="MW_APPID" android:value="VZGEI05QVEAS589R80I0ANQHSBJAPN6O" />
        <!--渠道名称MW_CHANNEL不能更改 -->
        <meta-data android:name="MW_CHANNEL" android:value="martian" />

    </application>

</manifest>